<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Reset password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form class="myForm">

    <ion-item>
      <ion-label position="floating" color="primary">Enter your email</ion-label>
      <ion-input type="text" name="email" [(ngModel)]="email" required></ion-input>
    </ion-item>

    <ion-button class="submit-btn" (click)="resetPassword(email)">Log In</ion-button>

  </form>

  <p class="go-to-register">
    Go back <a (click)="goToRegisterPage()">Cancel</a>
  </p>

</ion-content>